img {
    max-width: 100%;
    z-index: -1;
  }


#imgsel{
    border: lightseagreen 2px solid;
  }
  
h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightseagreen;
  }
  
  .vizualization{
    border-top-color: white; 
    width:50%;
    height:50%;
  }
h1{
    font-size: 24px;
    font-weight: bold;
    text-align:left;
  }
  
h2{
    font-size: 22px;
    font-weight: bold;
    text-align:left;
  }
  
h3{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
p{
    color: gray;
    text-align:left;
  }
  
.navbar{
      position: absolute;
      right: 30px;
  }
  
.navbar a{
    background-color:white;
  }
  
body {
    width: 100%;
    background-color: lightgray;
  }
  
.col {
    width: 100%;


  } 
  
.homebtn{
    background-color: white;
    z-index:2;
  }
  
.homebtn a{
    width: 110px;
    background: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    padding: 14px;
    margin: 0px 0px 0px 40px;
  }
  
.headerElement{
    background-color: white;
    width: 100%;
    border-bottom-color: #0BADA6;
    z-index:2;
  }
  
.boxElement{
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 
    z-index:1;
  }
  
.tableElement{
    text-align:center;
    background-color: white;
  }
  
.footerElement {
    background-color: #666666; 
    border-top-style: solid; 
    border-top-width: 5px; 
    border-top-color: #0BADA6;
    color: white; 
    min-height: 55px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px; 
    z-index:3;
  }

